* {

    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}




body { 
    background-image: url("../images/istockphoto.jpg"); 
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    height: 96vh;
  
}
h1 {
    color: #f9f9f9;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5rem;
}

.first-enter {
    padding: 2px; font-size: 1rem;
}

#username { 
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 1px;
           }
#username:hover {
    background: #ad9696;
    color: rgb(255, 255, 255);
}
#form {
    color: #ffffff; 
    font-size: 1.2em;
}

#btn {
    width: 6.5rem;
    margin-top: 0.5rem;
    padding: 3.5px 7.5px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.4s;
    margin-left: 2.6rem;
}

#btn:hover{
    background: #ad9696;
    color: rgb(253, 244, 244);

}


.app {
    /*style background of queation area*/
    background: #0a153266;
    width: 90%;
    max-width: 600px;
    margin: 100px auto;
    border-radius: 10px;
    padding: 30px;
}
.app h1 {
    font-size: 30px;
    color: #feffff;
    font-weight: 600;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 30px;
}
.quiz  {
    padding: 20px 0;
}
.quiz h2 {
    font-size: 11px;
    color: #f9f9f9;
    font-weight: 600;
}
/*style the buttons*/
.btn {
    background: rgb(246, 244, 244);
    color:#222020;
    font-weight: 500;
    width: 100%;
    border: 1px solid rgb(18, 14, 14);
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.4s;
}
.btn:hover:not([disabled]) {
    background: #343030;
    color: rgb(253, 244, 244);
}
.btn:disabled{
    cursor: no-drop;
}
/*style the button (Next)*/
#next-btn {
    background: #001e4d;
    color: #ffffff;
    font-weight: 500;
    width: 7.25em;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
    text-align: center;
}

.correct {
    background: #8ee0b1;
}

.incorrect {
    background: #fa8f8f;
}

@media (min-width: 320px) {
    .quiz h2 {
        font-size: 14px;
    }

}

@media screen and (min-width: 390px){
    #btn {
        width: 6.5rem;
        margin-top: 0.5rem;
        padding: 3.5px 7.5px;
        margin-left: 14rem;
    }

    h1 {
        font-size: 2.2rem;
    }
}
   
@media screen and (min-width: 481px){
#btn {
    width: 6.5rem;
    margin-top: 0.5rem;
    padding: 3.5px 7.5px;
    margin-left: 14rem;
}
}


@media (min-width: 576px){
    .quiz h2 {
        font-size: 16px;
    }

}

@media screen and (min-width: 768px){
     h1 {
        font-size: 3.8rem;
    }
    
    .quiz h2 {
        font-size: 18px;
    }
    .app h1 {
        font-size: 40px; 
        text-align: center;
    }
   

}

 /*larger devices (laptops desktop, 992px and up)*/
 @media screen and (min-width: 992px){
    .quiz h2 {
        font-size: 18px;
    }
 }

 @media screen and (min-width: 1200px){
    
    .quiz h2 {
        font-size: 20px;
    }

 }